*.py[cod]
.hgignore~
.gitignore~
.hg/
.hgtags
.tox/
.travis.yml~
.cache/
.coverage
/htmlcov/
*.py,cover
/.idea/

MANIFEST.in~
MIND_BUCKET.rst
QUICK_START.rst
/tmp/
.zip
/demo/
/demos/
/release/
/releases/
/deploy/
/examples/db/

/examples/tmp/
/examples/logs/
/examples/media/
/examples/media/cache/
/examples/static/
/builddocs/
/builddocs.zip
/build/
/dist/
/src/django_debug_toolbar_force.egg-info
/examples/simple/settings/__init__.py
/examples/simple/settings/local_settings.py
